body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -250px;
}

a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: #64bb52;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgb(92, 125, 218);
}

a:active {
    transform: translateY(1px);
}
